html,
body {
  overflow: auto; /* allow scroll here */
}

.workouts-page {
  min-height: 100vh;
  background: #000;
  color: white;
  padding: 20px;
}

/* BACK BUTTON */
.back-btn {
  position: fixed;
  top: 16px;
  left: 16px;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  background: #4ade80;
  color: #000;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.workout-card {
  background: #0f1f14;
  padding: 18px;
  border-radius: 16px;
  margin-bottom: 12px;
}
